{% extends 'login/basic.html' %}
{% block title%} searchusers {% endblock %}
{% block body%}
{% load auth_extras %}
<div class="container">
{% if follow %}
{% for user in users%}
<div class="jumbotron my-3 border border-success" style="width:400px;">
  <center><h1 class="display-6">{{user.username}}</h1>
  <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"></center>
  <hr class="my-4">
  <p class="lead">
    <h3>Followers:{{user.profile.followers.all|length}}</h3>
    <h3>Following:{{user.profile.following.all|length}}</h3>
    {% ifnotequal request.user.username user.username %}
    {% if request.user|is_follower:user%}
    <a class="btn btn-primary btn-lg" href="/unfollow/{{user.id}}" role="button">Unfollow</a>
    {%else%}
    <a class="btn btn-primary btn-lg" href="/follow/{{user.id}}" role="button">Follow</a>
    {%endif%}
    {%endifnotequal%}
    <a class="btn btn-primary btn-lg mx-3" href="/userdashboard/{{user.id}}" role="button">View Details</a>
  </p>
</div>
{% endfor %}
{%else%}

{% for f in followers%}
  <div class="jumbotron my-3 border border-success" style="width:400px;">
  <center><h1 class="display-6">{{f.username}}</h1>
  <img class="rounded-circle account-img" src="{{ f.profile.image.url }}"></center>
  <hr class="my-4">
  <p class="lead">
    <h3>Followers:{{f.profile.followers.all|length}}</h3>
    <h3>Following:{{f.profile.following.all|length}}</h3>
    <a class="btn btn-primary btn-lg" href="/rejectrequest/{{f.id}}" role="button">Reject Request</a>
  </p>
  </div>
{%endfor%}
{%endif%}
</div>
{% endblock %}